@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient-bg {
  background-image: linear-gradient(to right, #F5BC46, #ee7b31);
}

.poppins {
  font-family: "Poppins";
  font-style: normal;
}

.slick-next:before,
.slick-prev:before {
  /* opacity: 1;
  font-size: 0px !important; */
  @apply opacity-[1] !text-[0px]
}

.slick-dots {
  /* display: flex !important;
  align-items: center;
  justify-content: center;
  bottom: -40px !important;
  z-index: 10;
  gap: 5px !important; */
  @apply !flex items-center justify-center !-bottom-10 z-10 !gap-[5px]
}

/* flex-direction: row; */
.slick-dots li {
  /* margin: 0px !important;
  width: auto !important; */
  @apply !m-0 !w-auto
}

.slick-dots li button {
  /* background: black !important; */
  /* color: white !important;
  height: 10px !important;
  width: 10px !important;
  border-radius: 100px !important;
  cursor: pointer;
  background-color: #F7C199 !important; */
  /* opacity: 50 !important; */
  @apply !text-white !h-[10px] !w-[10px] !rounded-[100px] cursor-pointer !bg-[#F7C199]
}

.slick-dots .slick-active button {
  /* width: 20px !important;
  height: 10px !important;
  border-radius: 100px !important; */
  /* border: 1px solid white !important; */
  /* background-color: #ffffff !important; */
  @apply !w-5 !h-[10px] !rounded-[100px] !bg-white
}

.slick-dots li button:before {
  /* display: none; */
  @apply hidden
}

.slick-next {
  /* font-size: 0px;
  line-height: 0;
  top: 50%;
  width: auto;
  height: auto; */
  transform: 0, -50%;
  /* cursor: pointer;
  border: none;
  outline: 0;
  color: white; */
  @apply text-[0px] leading-[0] top-2/4 w-auto h-auto cursor-pointer border-none outline-0 text-white
}

.heading {
  @apply 2xl:text-[46px] xl:text-4xl text-3xl font-bold
}

.subheading {
  @apply 2xl:text-4xl xl:text-3xl text-xl font-bold
}

.paragraph {
  @apply 2xl:text-lg xl:text-base text-sm font-medium
}

@keyframes ldio-yzaezf3dcmj {
  0% {
    transform: rotate(0)
  }

  100% {
    transform: rotate(360deg)
  }
}

.ldio-yzaezf3dcmj div {
  box-sizing: border-box !important
}

.ldio-yzaezf3dcmj>div {
  position: absolute;
  width: 144px;
  height: 144px;
  top: 28px;
  left: 28px;
  border-radius: 50%;
  border: 16px solid #000;
  border-color: #090b27 transparent #090b27 transparent;
  animation: ldio-yzaezf3dcmj 1s linear infinite;
}

.ldio-yzaezf3dcmj>div:nth-child(2) {
  border-color: transparent
}

.ldio-yzaezf3dcmj>div:nth-child(2) div {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotate(45deg);
}

.ldio-yzaezf3dcmj>div:nth-child(2) div:before,
.ldio-yzaezf3dcmj>div:nth-child(2) div:after {
  content: "";
  display: block;
  position: absolute;
  width: 16px;
  height: 16px;
  top: -16px;
  left: 48px;
  background: #090b27;
  border-radius: 50%;
  box-shadow: 0 128px 0 0 #090b27;
}

.ldio-yzaezf3dcmj>div:nth-child(2) div:after {
  left: -16px;
  top: 48px;
  box-shadow: 128px 0 0 0 #090b27;
}

.loadingio-spinner-dual-ring-2by998twmg8 {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  /* background: #ffffff; */
}

.ldio-yzaezf3dcmj {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0;
  /* see note above */
}