@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient-bg {
  background-image: linear-gradient(to right, #F5BC46, #ee7b31);
}

.poppins {
  /* font-family: "Poppins"; */
  font-family: "Assistant";
  font-style: normal;
}

.slick-next:before,
.slick-prev:before {
  /* opacity: 1;
  font-size: 0px !important; */
  @apply opacity-[1] !text-[0px]
}

.slick-dots {
  /* display: flex !important;
  align-items: center;
  justify-content: center;
  bottom: -40px !important;
  z-index: 10;
  gap: 5px !important; */
  @apply !flex items-center justify-center !-bottom-10 z-10 !gap-[5px]
}

/* flex-direction: row; */
.slick-dots li {
  /* margin: 0px !important;
  width: auto !important; */
  @apply !m-0 !w-auto
}

.slick-dots li button {
  /* background: black !important; */
  /* color: white !important;
  height: 10px !important;
  width: 10px !important;
  border-radius: 100px !important;
  cursor: pointer;
  background-color: #F7C199 !important; */
  /* opacity: 50 !important; */
  @apply !text-white !h-[10px] !w-[10px] !rounded-[100px] cursor-pointer !bg-[#F7C199]
}

.slick-dots .slick-active button {
  /* width: 20px !important;
  height: 10px !important;
  border-radius: 100px !important; */
  /* border: 1px solid white !important; */
  /* background-color: #ffffff !important; */
  @apply !w-5 !h-[10px] !rounded-[100px] !bg-white
}

.slick-dots li button:before {
  /* display: none; */
  @apply hidden
}

.slick-next {
  /* font-size: 0px;
  line-height: 0;
  top: 50%;
  width: auto;
  height: auto; */
  transform: 0, -50%;
  /* cursor: pointer;
  border: none;
  outline: 0;
  color: white; */
  @apply text-[0px] leading-[0] top-2/4 w-auto h-auto cursor-pointer border-none outline-0 text-white
}

.heading {
  @apply 2xl:text-[46px] xl:text-4xl text-3xl font-bold
}

.subheading {
  @apply 2xl:text-4xl xl:text-3xl text-xl font-bold
}

.paragraph {
  @apply 2xl:text-lg xl:text-base text-sm font-medium
}



@keyframes ldio-x2uulkbinbj {
  0% {
    transform: rotate(0)
  }

  100% {
    transform: rotate(360deg);
  }
}

.ldio-x2uulkbinbj>div {
  animation: ldio-x2uulkbinbj 1s infinite linear;
  transform-origin: 70.5px 70.5px;
}

.ldio-x2uulkbinbj>div div {
  position: absolute;
}

.ldio-x2uulkbinbj>div div:nth-child(1),
.ldio-x2uulkbinbj>div div:nth-child(2) {
  width: 115.61999999999999px;
  height: 115.61999999999999px;
  border: 16.919999999999998px solid;
  border-radius: 50%;
  border-color: transparent #090b27 #090b27 #090b27;
  box-sizing: border-box;
  position: absolute;
  transform: rotate(45deg);
  transform-origin: 70.5px 70.5px;
}

.ldio-x2uulkbinbj>div div:nth-child(1) {
  transform: rotate(45deg) translate(12.69px, 12.69px);
}

.ldio-x2uulkbinbj>div div:nth-child(2) {
  transform: rotate(0deg) translate(12.69px, 12.69px);
  ;
}

.ldio-x2uulkbinbj>div div:nth-child(3) {
  width: 0;
  height: 0;
  border: 16.919999999999998px solid;
  border-color: transparent transparent transparent #090b27;
  transform: translate(70.5px, 4.2299999999999995px);
}

.loadingio-spinner-reload-nq4q5u6dq7r {
  width: 141px;
  height: 141px;
  display: inline-block;
  overflow: hidden;
  /* background: #ffffff; */
}

.ldio-x2uulkbinbj {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0;
  /* see note above */
}

.ldio-x2uulkbinbj div {
  box-sizing: content-box;
}

/* [ldio] generated by https://loading.io */

.custom-scrollbar::-webkit-scrollbar,
.editor .ql-editor::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb,
.editor .ql-editor::-webkit-scrollbar-thumb {
  background-color: #87909e;
  border-radius: 8px;
  display: block;
}

.custom-scrollbar::-webkit-scrollbar-track,
.editor .ql-editor::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

.scrollbar-none::-webkit-scrollbar {
  display: none;
}

.ql-toolbar.ql-snow {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  border: 1px solid #D9D9D9 !important;

}

.ql-container.ql-snow {
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  border: 1px solid #D9D9D9 !important;
  border-top: none !important;
  overflow: hidden;

}

.editor .ql-editor {
  min-height: 260px;
  max-height: 350px;
  font-size: 14px;
}

.document-editor .ql-container.ql-snow .ql-editor {
  max-height: 65vh;
  min-height: 65vh;
  overflow-y: auto;
}

.input-error {
  @apply text-xs font-medium text-red-500 mt-1 text-start first-letter:capitalize
}



.slider-to-left {
  display: flex;
}

@keyframes slide-to-left {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc(-1 * var(--total-width)));
  }
}

.reys{
  position: absolute;
  width: 100vw;
  height: 100%;
  /* background-color: #ee7b31; */
  background-image: url('/images/reys1.jpg');
  background-size: cover;
  opacity: 0.12;
  z-index: -0;
}
.tv{
  position: absolute;
    width: 96vw;
    height: 96%;
     background-color: rgba(31, 75, 140, 0.711); 
     /* border:20px solid rgb(94, 136, 252); */
     border-radius: 15%;
   
    
     opacity: 0.18; 
    z-index: 1;
}